.mosaicgrid-edit {
}

.mosaicgrid-edit .edit-tile {
}
/** TILE TOOLBAR **/
.mosaicgrid-edit ul.tile-toolbar {
  padding: 0;
  margin: 5px 0 10px 0 !important;
  overflow:hidden;
  border-top:1px solid #eee;
}

.mosaicgrid-edit .tile-toolbar li{
  display: list-item !important;
  list-style-type: none !important;
}

.mosaicgrid-edit .tile-toolbar li a {
  border-width: 0 1px 1px 1px !important;
  color: #0071B3 !important;
  float:left !important;
  font-size: .9em;
}
.mosaicgrid-edit .editable-tile {
  border: 1px dashed #CCC;
}

/** PANE TOOLBAR **/
.mosaicgrid-edit .tile-toolbar li a:hover {
  background-color:#eee !important;
  text-decoration: none !important;
}

.mosaicgrid-edit ul.mosaicgrid-toolbar {
  padding: 0;
  margin: 0;
  overflow:hidden;
  border-top: 1px solid #eee !important;
}

.mosaicgrid-edit .mosaicgrid-toolbar li{
  display: list-item !important;
  list-style-type: none !important;
}

.mosaicgrid-edit .mosaicgrid-toolbar li a {
  background-color:#eee !important;
  color: #0071B3 !important;
  float:left !important;
  padding: 7px 10px !important;
}

.mosaicgrid-edit .mosaicgrid-toolbar li a:hover {
  background-color:#DDD !important;
  text-decoration: none !important;
}
